body {
  display: flex;
  
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  background: #cacaca;
  height: 58px;
  
  padding: 0;
  margin: 0;
}
.header-logo {
  padding: 16px;
  margin: 0;
  gap: 16px; 
}
.header-links {
  padding: 16px;
  margin: 0;
  display: flex;
  gap: 16px;
}

.left-header {
  display: flex;
}
.logo-button {
  margin-top: 16px;
}

.right-header {
  display: flex;
}
li, a{
  list-style: none;
  text-decoration: none;
}



.body1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  height: 300px;
  padding: 0;
  background: #cacaca;
}

.text1 {
  display: flex;
  flex-direction: column;
}


.body1-button {
  align-self: center;
  height: 180px;
  width: 340px;
}

