body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  /* height: 600px; */
}
.header {
  display: flex;
  justify-content: space-between;
  background: #0d1a08cb;
  height: 58px;
  padding: 0;
  margin: 0;
}
.header-logo, .header-links {
  padding: 16px;
  margin: 0;
  gap: 16px;
  color: #ffffff; 
}
.left-header, .right-header, .header-links {
  display: flex;
}
.logo-button {
  margin-top: 16px;
}
li, a{
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}



.body1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  height: 300px;
  padding: 40px;
  padding-top: 0;
  background: #cacaca;
}
.text1 {
  display: flex;
  flex-direction: column;
}
.body1-button {
  align-self: center;
  height: 180px;
  width: 340px;
}





.body2 {
  display: flex;
  flex-direction: column;
  height: auto;
  /* border-style: solid; */
  background: #d4d4d4;
  margin: 0;
}
.title2 {
  align-self: center;
}
.body2-buttons {
  display: flex;
  justify-content: center;
  margin: 30px auto 0 auto;
  margin-top: 0;
  gap: 40px;
}
.body2-img {
  height: 145px;
  width: 145px;
  margin: 30px auto 0 auto;
}
.text2 {
  width: 141px;
  color: #00f;
  text-align: center;
}


.body3 {
  display: flex;
  justify-content: center;
  background: rgb(235, 234, 234);
  padding: 50px 0px 50px;
  margin: 50px 0 0 0;
}
.container3 {
  text-align: center;
  width: 500px;

}
.text3 {
  width: 600px;
  text-align: start;
  font-style: italic;
}
.text3-credit {
  margin-left: 20em;
}



.body4 {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 30vh;
  align-items: center;
  background: #e6e6e6;
}
.container4 {
  display: flex;
  background: lightblue;
  border-radius: 5px;
}
.text4-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 500px;
  height: auto;
  padding: 20px 0px 20px 100px;
  margin: 0;
}
.text4-container p {
  padding: 0;
  margin: 0;
}
.sign-up4 {
  align-self: center;
  padding-right: 100px;
}
.sign-up4 button {
  text-align: center;
  background: lightseagreen;
  color: white;
  border-radius: 5px;
  height: 28px;
  width: 100px;
  border-color: white;
  border-style: solid
}
.sign-up4 button:hover {
  background: rgb(29, 163, 157);
}
