li, a{
  list-style: none;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  padding: 8px;
  margin: 0;
  gap: 16px; 
}
.header-links {
  padding: 8px;
  margin: 0;
  display: flex;
  gap: 16px;
}

.left-header {
  display: flex;
}
button {
  align-self: center;
}


.right-header {
  display: flex;
}

